@page "/"
@attribute [StreamRendering(true)]

<PageTitle>ISLAM SISSAOUI CV </PageTitle>
@if (userDetails == null)
{
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-center " style="min-height:600px">
            @if (!string.IsNullOrEmpty(error))
            {
                <p class="text-danger">
                    @error
                </p>
            }
            else
            {
                <img  alt="Loading" src="/src/Splash screen.gif" />
            }
        </div>
        
    </div>
    
  
}
else
{
    <div class="container ">
        <!--Image & user name-->
        <ImageNUserName Users="@userDetails.Users" />
        <!--WORK EXPERIENCE-->
        <div class="row mt-3">
            <WorkExperience Experiences="@userDetails.Experiences" />
            <!--SKILLS-->
            <div class="col-md-6">
                <UserSkills userSkills="@userDetails.userSkills" />
                <!--EDUCATION-->
                <UserEducation userEducation="@userDetails.userEducation" />
                <!--LANGUAGES-->
                <div>
                    <h4>LAGUAGES</h4>
                    <div class="d-flex justify-content-center py-2 flex-wrap">
                       
                          <div class=" text-center bg-secondary shadow-lg rounded-3 me-2 mb-2 pt-2 " style="min-width:25%">
                            <h1 class="fw-bolder">ض</h1>

                            <p class="fw-bold">Arabic</p>
                            </div>
                        <div class=" text-center bg-secondary shadow-lg rounded-3 me-2 mb-2 pt-2 " style="min-width:25%">
                            <h1 class="fw-bolder">F</h1>
                            <p class="fw-bold">French</p>
                        </div>
                        <div class=" text-center bg-secondary shadow-lg rounded-3 me-2 mb-2 pt-2 " style="min-width:25%">
                            <h1 class="fw-bolder">E</h1>

                            <p class="fw-bold">English</p>
                        </div>
                    </div>
                    
                </div>
            </div>
          

        </div>
       

    </div>
    <div class="footer mt-1 pb-5 text-body-secondary">
        <hr />
        <div class="d-flex justify-content-center  ">
            <div class="row justify-content-center  ">
                <div class="d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/islam-s-b54805178/" class="text-decoration-none text-body-emphasis"> <i class="devicon-linkedin-plain fs-3 me-2" />  </a>
                    <a href="https://github.com/islamghost1" class="text-decoration-none text-body-emphasis"><i class="devicon-github-original fs-3"></i></a>
                </div>
                <div class="d-flex justify-content-center">
                    <span class="fs-6">Made with  <i class="fa-solid fa-mug-hot"></i> by @@ISLAM.SCR </span>

                </div>
            </div>
        </div>
    </div>
}
