<div class="row">
    <div class="col-md-6 d-flex flex-column align-items-center">
        <img class="border-0 rounded-2 mb-3 shadow-lg mb-4 bg-body rounded" style="height:300px;width:300px" src="/src/islamSissaoui.jpg" alt="Profile picture">
        <h1 class="text-center" style="font-weight:bolder">@Users?.name?.ToUpper() @Users?.last_name?.ToUpper()</h1>

    </div>
    <div class="col-md-6 mt-5">
        <div class="p-3">
            <p><i class="fa-solid fa-phone me-3"></i> @Users.phone  </p>

            <hr>
            <!--EMAIL-->

            <p><i class="fa-solid fa-envelope me-3"></i> @Users.email</p>

            <hr>
            <!--ADDRESS-->

            <p><i class="fa-solid fa-location-dot me-3"></i> @Users.address </p>

            <hr>
            <section>
                <p>@Users?.description </p>
            </section>

        </div>
        <div>
        </div>
    </div>
</div>
