@page "/Modify"
@rendermode InteractiveServer
<title>Edit CV</title>
<button class="btn btn-outline-dark btn-sm" @onclick=Preview><Icon Name="IconName.Eye"/></button>
<div class="container ">
    <!--Image & user name-->
    <ImageNUserName />
    <!--WORK EXPERIENCE-->
    <div class="row mt-3">
        <WorkExperience IsPreview="@IsPreview" />
        <!--SKILLS-->
        <div class="col-md-6">
            <UserSkills  IsPreview="@IsPreview"/>
            <!--EDUCATION-->
            <UserEducation IsPreview="@IsPreview" />
        </div>
    </div>

</div>
