@page "/Modify"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@rendermode InteractiveServer
<AuthorizeView Roles="Admin">
    <Authorized>

        <title>Edit CV</title>
        <button class="btn btn-outline-dark btn-sm" @onclick=Preview><Icon Name="IconName.Eye" /></button>
        <div class="container ">
            <!--Image & user name-->
            <ImageNUserName />
            <!--WORK EXPERIENCE-->
            <div class="row mt-3">
                <WorkExperience IsPreview="@IsPreview" />
                <!--SKILLS-->
                <div class="col-md-6">
                    <UserSkills IsPreview="@IsPreview" />
                    <!--EDUCATION-->
                    <UserEducation IsPreview="@IsPreview" />
                </div>
            </div>

        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container">
           
            <div class="row text-center" style="min-height: 500px;">
                <p class="fs-3 fw-bolder row">
                    <Icon Name="IconName.HandPaper" IconSize="IconSize.x4" Class="text-danger " />

                    <span>Why did the hacker bring a ladder to work?</span>
                    <span> He wanted to make sure his access was on the up-and-up! </span>
                    <span class="fs-6 text-primary">"AI generated jokes"</span>

                </p> 
                
            </div>
        </div>


    </NotAuthorized>
</AuthorizeView>
