@page "/Modify"
@rendermode InteractiveServer
<title>Edit CV</title>
<div class="container ">
    <!--Image & user name-->
    <ImageNUserName />
    <!--WORK EXPERIENCE-->
    <div class="row mt-3">
        <WorkExperience />
        <!--SKILLS-->
        <div class="col-md-6">
            <Skills />
            <!--EDUCATION-->
            <Education />
        </div>
    </div>

</div>
